@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Mulish";
  box-sizing: border-box;
  position: relative;
}

.app {
  background-image: url("./assets/images/bg-image.svg");
  background-repeat: no-repeat;
  background-size: auto;
  /* background-origin: content-box; */
}

.container {
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .app {
    padding: 16px;
  }
}
